// Admin.NET 项目的版权、商标、专利和其他相关权利均受相应法律法规的保护。使用本项目应遵守相关法律法规和许可证的要求。
//
// 本项目主要遵循 MIT 许可证和 Apache 许可证（版本 2.0）进行分发和使用。许可证位于源代码树根目录中的 LICENSE-MIT 和 LICENSE-APACHE 文件。
//
// 不得利用本项目从事危害国家安全、扰乱社会秩序、侵犯他人合法权益等法律法规禁止的活动！任何基于本项目二次开发而产生的一切法律纠纷和责任，我们不承担任何责任！

@{
    bool IsNetEnumType(dynamic column) => column.NetType.TrimEnd('?').EndsWith("Enum");
    bool IsStatusEnumField(dynamic column) => column.NetType.TrimEnd('?') == "StatusEnum" && column.PropertyName == "Status";
    string GetFinalType(string type) => Regex.IsMatch(type, "(.*?Enum|bool|char|int|long|double|float|decimal)[?]?") ? type.TrimEnd('?') + "?" : type;
}
using Admin.NET.Core;
using System.ComponentModel.DataAnnotations;

namespace @(Model.NameSpace);

/// <summary>
/// @(Model.BusName)基础输入参数
/// </summary>
public class @(Model.ClassName)BaseInput
{
@foreach (var column in Model.TableField.Where(u => u.ColumnKey != "True" && u.WhetherAddUpdate == "Y")){
    @:/// <summary>
    @:/// @column.ColumnComment
    @:/// </summary>
    @:public virtual @GetFinalType(column.NetType) @column.PropertyName { get; set; }
@:
}
}

/// <summary>
/// @(Model.BusName)分页查询输入参数
/// </summary>
public class Page@(Model.ClassName)Input : BasePageInput
{
@foreach (var column in Model.TableField.Where(u => u.QueryWhether == "Y")){
    if(column.NetType?.TrimEnd('?') == "DateTime" && column.QueryType == "~"){
    @:/// <summary>
    @:/// @(column.ColumnComment)范围
    @:/// </summary>
    @: public DateTime?[] @(column.PropertyName)Range { get; set; }
    } else {
    @:/// <summary>
    @:/// @column.ColumnComment
    @:/// </summary>
    @:public @GetFinalType(column.NetType) @column.PropertyName { get; set; }
    }
@:
}
}

/// <summary>
/// @(Model.BusName)增加输入参数
/// </summary>
public class Add@(Model.ClassName)Input
{
@foreach (var column in Model.TableField.Where(col => col.WhetherAddUpdate == "Y")){
    @:/// <summary>
    @:/// @column.ColumnComment
    @:/// </summary>
    if (column.WhetherRequired == "Y") {
    @:[Required(ErrorMessage = "@(column.ColumnComment)不能为空")]
    }
    if (column.NetType.TrimEnd('?').EndsWith("string") && column.ColumnLength > 0){
    @:[MaxLength(@column.ColumnLength, ErrorMessage = "@(column.ColumnComment)字符长度不能超过@(column.ColumnLength)")]
    }
    @:public @GetFinalType(column.NetType) @column.PropertyName { get; set; }
@:
}
}

/// <summary>
/// @(Model.BusName)删除输入参数
/// </summary>
public class Delete@(Model.ClassName)Input
{
@foreach (var column in Model.TableField.Where(u => u.ColumnKey == "True")){
    @:/// <summary>
    @:/// @column.ColumnComment
    @:/// </summary>
    @:[Required(ErrorMessage = "@(column.ColumnComment)不能为空")]
    @:public @GetFinalType(column.NetType) @column.PropertyName { get; set; }
@:
}
}

/// <summary>
/// @(Model.BusName)批量删除输入参数
/// </summary>
public class BatchDelete@(Model.ClassName)Input
{
@foreach (var column in Model.TableField.Where(u => u.ColumnKey == "True")){
    @:/// <summary>
    @:/// @column.ColumnComment
    @:/// </summary>
    @:[Required(ErrorMessage = "@(column.ColumnComment)列表不能为空")]
    @:public List<@GetFinalType(column.NetType)> @(column.PropertyName)List { get; set; }
@:
}
}

/// <summary>
/// @(Model.BusName)更新输入参数
/// </summary>
public class Update@(Model.ClassName)Input
{
@foreach (var column in Model.TableField.Where(u => u.ColumnKey == "True" || u.WhetherAddUpdate == "Y" && !IsStatusEnumField(u))){
    @:/// <summary>
    @:/// @column.ColumnComment
    @:/// </summary>    
    if (column.WhetherRequired == "Y" || column.ColumnKey == "True") {
    @:[Required(ErrorMessage = "@(column.ColumnComment)不能为空")]
    }
    if (column.NetType.TrimEnd('?').EndsWith("string") && column.ColumnLength > 0){
    @:[MaxLength(@column.ColumnLength, ErrorMessage = "@(column.ColumnComment)字符长度不能超过@(column.ColumnLength)")]
    }
    @:public @GetFinalType(column.NetType) @column.PropertyName { get; set; }
@:
}
}

/// <summary>
/// @(Model.BusName)主键查询输入参数
/// </summary>
public class QueryById@(Model.ClassName)Input : Delete@(Model.ClassName)Input
{
}

@if (Model.TableField.Any(x => x.WhetherImport == "Y")){
@:/// <summary>
@:/// @(Model.BusName)数据导入实体
@:/// </summary>
@:[ExcelImporter(SheetIndex = 1, IsOnlyErrorRows = true)]
@:public class Import@(Model.ClassName)Input : BaseImportInput
@:{
    foreach (var column in Model.TableField.Where(x => x.WhetherImport == "Y")){
    var prefix = column.WhetherRequired == "Y" || column.NetType.TrimEnd('?').EndsWith("Enum") ? "*" : "";
    if(column.EffectType == "ForeignKey" || column.EffectType == "ApiTreeSelector") {
    @:/// <summary>
    @:/// @column.ColumnComment 关联值
    @:/// </summary>
    @:[ImporterHeader(IsIgnore = true)]
    @:[ExporterHeader(IsIgnore = true)]
    @:public @GetFinalType(column.NetType) @column.PropertyName { get; set; }
@:
    @:/// <summary>
    @:/// @column.ColumnComment 文本
    @:/// </summary>
    @:[ImporterHeader(Name = "@(prefix + column.ColumnComment)")]
    @:[ExporterHeader("@(prefix + column.ColumnComment)", Format = "@", Width = 25, IsBold = true)]
    @:public string @(column.PropertyName)Label { get; set; }
    } else {
    @:/// <summary>
    @:/// @column.ColumnComment
    @:/// </summary>
    @:[ImporterHeader(Name = "@(prefix + column.ColumnComment)")]
    @:[ExporterHeader("@(prefix + column.ColumnComment)", Format = "@", Width = 25, IsBold = true)]
    @:public @GetFinalType(column.NetType) @column.PropertyName { get; set; }
    }
@:
    }
@:}
}