.user-register.error {
    color: red
}

.user-register.warning {
    color: #ff7e05
}

.user-register.success {
    color: #52c41a
}

.user-layout-register .ant-input-group-addon:first-child {
    background-color: #fff
}

.user-layout-register > h3[data-v-0a77d414] {
    font-size: 16px;
    margin-bottom: 20px
}

.user-layout-register .getCaptcha[data-v-0a77d414] {
    display: block;
    width: 100%;
    height: 40px
}

.user-layout-register .register-button[data-v-0a77d414] {
    width: 50%
}

.user-layout-register .login[data-v-0a77d414] {
    float: right;
    line-height: 40px
}

.head-info[data-v-432d5786] {
    position: relative;
    text-align: left;
    padding: 0 32px 0 0;
    min-width: 125px
}

.head-info.center[data-v-432d5786] {
    text-align: center;
    padding: 0 32px
}

.head-info span[data-v-432d5786] {
    color: rgba(0,0,0,.45);
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px
}

.head-info p[data-v-432d5786] {
    color: rgba(0,0,0,.85);
    font-size: 24px;
    line-height: 32px;
    margin: 0
}

.head-info em[data-v-432d5786] {
    background-color: #e8e8e8;
    position: absolute;
    height: 56px;
    width: 1px;
    top: 0;
    right: 0
}

.project-list .card-title[data-v-bc6946c6] {
    font-size: 0
}

.project-list .card-title a[data-v-bc6946c6] {
    color: rgba(0,0,0,.85);
    margin-left: 12px;
    line-height: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px
}

    .project-list .card-title a[data-v-bc6946c6]:hover {
        color: #1890ff
    }

.project-list .card-description[data-v-bc6946c6] {
    color: rgba(0,0,0,.45);
    height: 44px;
    line-height: 22px;
    overflow: hidden
}

.project-list .project-item[data-v-bc6946c6] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 8px;
    overflow: hidden;
    font-size: 12px;
    height: 20px;
    line-height: 20px
}

.project-list .project-item a[data-v-bc6946c6] {
    color: rgba(0,0,0,.45);
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0
}

    .project-list .project-item a[data-v-bc6946c6]:hover {
        color: #1890ff
    }

.project-list .project-item .datetime[data-v-bc6946c6] {
    color: rgba(0,0,0,.25);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    float: right
}

.project-list .ant-card-meta-description[data-v-bc6946c6] {
    color: rgba(0,0,0,.45);
    height: 44px;
    line-height: 22px;
    overflow: hidden
}

.item-group[data-v-bc6946c6] {
    padding: 20px 0 8px 24px;
    font-size: 0
}

.item-group a[data-v-bc6946c6] {
    color: rgba(0,0,0,.65);
    display: inline-block;
    font-size: 14px;
    margin-bottom: 13px;
    width: 25%
}

.members a[data-v-bc6946c6] {
    display: block;
    margin: 12px 0;
    line-height: 24px;
    height: 24px
}

.members a .member[data-v-bc6946c6] {
    font-size: 14px;
    color: rgba(0,0,0,.65);
    line-height: 24px;
    max-width: 100px;
    vertical-align: top;
    margin-left: 12px;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: inline-block
}

.members a:hover span[data-v-bc6946c6] {
    color: #1890ff
}

.mobile .project-list .project-card-grid[data-v-bc6946c6] {
    width: 100%
}

.mobile .more-info[data-v-bc6946c6] {
    border: 0;
    padding-top: 16px;
    margin: 16px 0 16px
}

.mobile .headerContent .title .welcome-text[data-v-bc6946c6] {
    display: none
}

.label-tag {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

    .label-tag, .label-tag .label-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

        .label-tag .label-item {
            margin: 5px;
            font-size: 5px
        }

            .label-tag .label-item div {
                width: 12px;
                height: 12px;
                margin-left: 5px
            }

#top-header {
    position: relative;
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

    #top-header .header-center-decoration {
        width: 40%;
        height: 80px;
        margin-top: 30px
    }

    #top-header .header-left-decoration, #top-header .header-right-decoration {
        width: 25%;
        height: 60px
    }

    #top-header .center-title {
        font-size: 28px;
        font-weight: 700;
        top: 15px;
        color: #40faee
    }

    #top-header .center-title, #top-header .title-time {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    #top-header .title-time {
        font-size: 10px;
        top: 55px;
        color: #6bd4e0
    }

#left1 {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(6,30,93,.5)
}

    #left1 .dv-scroll-board {
        position: absolute;
        top: 1%;
        bottom: 0
    }

#left12 {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(6,30,93,.5)
}

    #left12 .ranking-board-title {
        position: absolute;
        left: 10px;
        font-size: 14px;
        top: 10px;
        color: #6bd4e0
    }

    #left12 .board {
        width: 90%;
        position: absolute;
        top: 50px;
        bottom: 40px;
        padding: 0 15px
    }

.left2 {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(6,30,93,.5)
}

    .left2 .lc1-header {
        position: absolute;
        left: 10px;
        font-size: 14px;
        top: 10px;
        color: #6bd4e0
    }

    .left2 .lc1-chart {
        width: 98%;
        position: absolute;
        top: 20%;
        left: 1%;
        bottom: 0
    }

.left22 {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(6,30,93,.5)
}

    .left22 .chart-name {
        position: absolute;
        left: 10px;
        font-size: 14px;
        top: 10px;
        color: #6bd4e0
    }

    .left22 .dv-charts-container {
        width: 98%;
        position: absolute;
        top: 1%;
        left: 1%;
        bottom: 0
    }

#left23 {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(6,30,93,.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

    #left23 .water-level-chart-title {
        position: absolute;
        left: 10px;
        font-size: 14px;
        top: 10px;
        color: #6bd4e0
    }

    #left23 .dv-decoration-9 {
        width: 80%;
        height: 80%;
        position: absolute;
        left: 50%;
        top: 52%;
        -webkit-transform: translate(-50%,-48%);
        transform: translate(-50%,-48%);
        color: #6bd4e0;
        font-weight: 700;
        font-size: 40px
    }

#right1 {
    width: 100%;
    height: 100%;
    background-color: rgba(6,30,93,.5)
}

    #right1 .rose-chart-title {
        position: absolute;
        left: 10px;
        font-size: 14px;
        top: 10px;
        color: #6bd4e0
    }

    #right1 .dv-charts-container {
        height: calc(100% - 50px);
        padding-top: 13%
    }

.right2 {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(6,30,93,.5)
}

    .right2 .chart-name {
        position: absolute;
        left: 10px;
        font-size: 14px;
        top: 10px;
        color: #6bd4e0
    }

.right3 {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(6,30,93,.5)
}

    .right3 .lc1-header {
        position: absolute;
        left: 10px;
        font-size: 14px;
        top: 10px;
        color: #6bd4e0
    }

    .right3 .lc1-chart {
        width: 98%;
        position: absolute;
        top: 20%;
        left: 1%;
        bottom: 0
    }

.right4 {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(6,30,93,.5)
}

    .right4 .chart-name {
        position: absolute;
        left: 10px;
        font-size: 14px;
        top: 10px;
        color: #6bd4e0
    }

    .right4 .dv-charts-container {
        height: 100%;
        top: 10%;
        left: 4%;
        position: absolute
    }

#middle1 {
    height: 100%;
    padding: 5px 20px 5px 20px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: rgba(6,30,93,.5)
}

    #middle1, #middle1 .digital-flop-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

        #middle1 .digital-flop-item {
            width: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            border-left: 3px solid #061e5d;
            border-right: 3px solid #061e5d
        }

        #middle1 .digital-flop-title {
            font-size: 10px;
            margin-bottom: 10px;
            color: #40faee;
            margin-top: -20px;
            font-family: 微软雅黑
        }

        #middle1 .digital-flop {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-family: 黑体
        }

#middle2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(6,30,93,.5)
}

    #middle2, #middle2 .dv-flyline-chart-enhanced, .middle3 {
        width: 100%;
        height: 100%
    }

.middle3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: rgba(6,30,93,.5)
}

    .middle3 .bc-chart-item {
        width: 25%;
        height: 100%;
        padding-top: 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    .middle3 .bcci-header {
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 14px;
        color: #6bd4e0
    }

    .middle3 .dv-active-ring-chart {
        height: calc(100% - 80px);
        font-size: 5px
    }

    .middle3 .label-tag {
        height: 30px
    }

    .middle3 .active-ring-name {
        color: #6bd4e0 !important;
        font-size: 3px !important
    }

    .middle3 .decoration-1, .middle3 .decoration-2, .middle3 .decoration-3 {
        display: absolute;
        left: 0
    }

#data-view {
    width: 100%;
    height: 100%;
    background-color: #030409;
    color: #fff
}

    #data-view #dv-full-screen-container {
        background-image: url(../img/bg.110420cf.png);
        background-size: 100% 100%;
        -webkit-box-shadow: 0 0 3px #00f;
        box-shadow: 0 0 3px #00f;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column
    }

    #data-view #dv-full-screen-container, #data-view .main-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal
    }

    #data-view .main-container {
        height: 100%;
        padding: 5px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-orient: horizontal;
        -ms-flex-direction: row;
        flex-direction: row
    }

.table-operator[data-v-4944d898] {
    margin-bottom: 18px
}

button[data-v-4944d898] {
    margin-right: 8px
}

.table-operator[data-v-53b42a43] {
    margin-bottom: 18px
}

button[data-v-53b42a43] {
    margin-right: 8px
}

.avatar-upload-preview[data-v-b221788c] {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    overflow: hidden
}

.avatar-upload-preview img[data-v-b221788c] {
    width: 100%;
    height: 100%
}

.avatar-upload-wrapper[data-v-49f8567c] {
    height: 200px;
    width: 100%
}

.ant-upload-preview[data-v-49f8567c] {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 180px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc
}

.ant-upload-preview .upload-icon[data-v-49f8567c] {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1.4rem;
    padding: .5rem;
    background: rgba(222,221,221,.7);
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.2)
}

.ant-upload-preview .mask[data-v-49f8567c] {
    opacity: 0;
    position: absolute;
    background: rgba(0,0,0,.4);
    cursor: pointer;
    -webkit-transition: opacity .4s;
    transition: opacity .4s
}

    .ant-upload-preview .mask[data-v-49f8567c]:hover {
        opacity: 1
    }

.ant-upload-preview .mask i[data-v-49f8567c] {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1rem;
    margin-top: -1rem;
    color: #d6d6d6
}

.ant-upload-preview .mask[data-v-49f8567c], .ant-upload-preview img[data-v-49f8567c] {
    width: 100%;
    max-width: 180px;
    height: 100%;
    border-radius: 50%;
    overflow: hidden
}

.subButton {
    float: right
}

.subForm-item {
    margin-bottom: 0
}

.table-operator {
    margin-bottom: 18px
}

button {
    margin-right: 8px
}